{% extends 'base.html' %}
{% block content %}

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">🎟️ Home 🎟️</h2>
  
            Instructions for website.
        
            <p>First, log in/sign up. There is no functionality of our website without first being logged in.
            </p>
           
           <p>Once logged in, you will be redirected to your ticket list. </p> 
        
           <p>First time using the website? this page will be empty. Select "Create Ticket" from the Nav bar to be directed to the page to create a ticket.</p>
        
           <p>Follow the form to generate your ticket. Date is in the format of YYYY-MM-DD. Once full, click "Submit"</p>
        
           <p>Once submitted, you will be taken to the ticket details page, showing you the details you just entered.</p>
        
           <p>Repeat this for as many tickets as you'd like, and return to "All Tickets" to view the basic information.</p>
        
           <p>Finished? Feel free to log out.</p>

    {% endblock %}