html {
    background: url(https://i.imgur.com/lAcXqxP.png) no-repeat center center fixed; 
    background-size: cover;
}

input {
    width: 90%; 
    margin: 0 10px; 
    display: block; 
}

select {
    margin: 0 10px;
}

label {
    font-weight: bold;
}

#signup-form input {
    margin: 0px;
}

#signup-form p {
    margin-bottom: 14px;
}

textarea {
    width: 90%;
    height: 60px;
    padding: 6px; 
    resize: none;
    margin: 0 10px; 
}

table {
    border-radius: 6px;
}